body {
  font-family: 'Poiret One', cursive; }

h1 {
  padding-left: 40px;
  text-align: left; }

#news,
#menu,
#photogallery {
  z-index: 20; }
  #news li,
  #menu li,
  #photogallery li {
    display: inline-block;
    margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    #news .content,
    #menu .content,
    #photogallery .content {
      left: 280px;
      padding-bottom: 70px;
      position: absolute; } }

.panel {
  margin-bottom: 0px; }
  @media screen and (min-width: 768px) {
    .panel {
      background: #000;
      box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.6);
      height: 98%;
      margin-top: -150%;
      min-width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      position: absolute;
      transition: all .8s ease-in-out;
      -webkit-transition: all .8s ease-in-out;
      -moz-transition: all .8s ease-in-out;
      -o-transition: all .8s ease-in-out;
      z-index: 2; } }

@media screen and (min-width: 768px) {
  .panel:target {
    background-color: #ffffff;
    margin-top: 0%; } }

header .xs-img {
  display: inline-block;
  margin-left: 10px; }

header .imj-logo {
  display: block;
  margin: 15px auto; }

header .saiyo-logo {
  background: #FFFF00;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  height: auto;
  max-width: 100%;
  padding: 15px;
  width: 235px; }
  @media screen and (max-width: 768px) {
    header .saiyo-logo {
      background: none;
      box-shadow: none;
      display: block;
      margin: 0 auto; } }

header .header__menu {
  position: absolute;
  z-index: 2000; }
  header .header__menu ul {
    display: block;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    width: 235px;
    z-index: 3; }
    header .header__menu ul li a {
      background: #FFFF00;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      display: block;
      color: #D9534F;
      margin-bottom: 5px;
      padding: 10px 50px; }

@media screen and (max-width: 768px) {
  header .navbar {
    margin-bottom: 0; } }

header .navbar .navbar-header .navbar-toggle {
  background-color: rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 12px; }
  header .navbar .navbar-header .navbar-toggle .icon-bar {
    background: white; }

header .navbar .navbar-header .navbar-nav__color {
  color: #D9534F; }

#top {
  left: 280px;
  position: absolute;
  padding-bottom: 30px;
  top: 64px; }
  @media screen and (max-width: 768px) {
    #top {
      left: 0;
      position: initial; } }

#news li,
#menu li {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-bottom: 10px; }
  #news li div,
  #menu li div {
    background: white;
    position: relative; }
    #news li div a img,
    #menu li div a img {
      max-width: 100%; }
      @media screen and (max-width: 768px) {
        #news li div a img,
        #menu li div a img {
          height: auto; } }
    #news li div a p,
    #menu li div a p {
      background: rgba(0, 0, 0, 0.8);
      border-bottom: #000000 3px solid;
      bottom: 0;
      color: #ffffff;
      font-family: 'Noto Sans Japanese', serif;
      font-size: medium;
      left: 0;
      margin: 0;
      padding: 15px 10px 3%;
      position: absolute;
      width: 100%; }

@media screen and (max-width: 768px) {
  #menu {
    background-color: #FFFFF0; } }

#menu p {
  text-align: center; }

footer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 9999; }
  @media screen and (max-width: 768px) {
    footer {
      position: relative; } }
