$menu-color: #FFFF00;
$panel-color: #ffffff;
$media-small: 768px;
$bg-menu: #FFFFF0;

body{
	font-family: 'Poiret One', cursive;
}

h1{	
    padding-left: 40px;
    text-align: left;
}

#news,
#menu,
#photogallery{
	 z-index: 20;

	li{
		display: inline-block;
		margin-bottom: 5px;
	}

	.content{
		@media screen and (min-width: $media-small) {
		left: 280px;
		padding-bottom: 70px;
	    position: absolute;
		}
	}
}

.panel{
	margin-bottom: 0px;
	@media screen and (min-width: $media-small) {
		background: #000;
		box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
		height: 98%;
		margin-top: -150%;		
		min-width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		position: absolute;
		transition: all .8s ease-in-out;
		-webkit-transition: all .8s ease-in-out;
		-moz-transition: all .8s ease-in-out;
		-o-transition: all .8s ease-in-out;
		z-index: 2;
	}
}
.panel:target{
	@media screen and (min-width: $media-small) {
		background-color: $panel-color;
		margin-top: 0%;
	}
}

header{
	.xs-img{
		display: inline-block;
	    margin-left: 10px;
	}

	.imj-logo{
			display: block;
		    margin: 15px auto;
		}
	.saiyo-logo{
		background: $menu-color;
		box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		height: auto;
		max-width: 100%;
		padding: 15px;
		width: 235px;

		@media screen and (max-width: $media-small) {	
			background: none;
		    box-shadow: none;
		    display: block;
		    margin: 0 auto;
		}
	}
	.header__menu{
			position: absolute;
			z-index: 2000;
		ul{ 
		    display: block;
		    list-style: none;
		    margin-top: 20px;
		   	padding: 0;
		    width: 235px;
		    z-index: 3;
		    
			li{
				a{
					background: $menu-color;
					box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
					display: block;
					color:#D9534F;
					margin-bottom: 5px;
					padding: 10px 50px;
					
				}
			}
		}
	}
	.navbar{
		@media screen and (max-width: $media-small) {	
			margin-bottom: 0;
		}
		.navbar-header{
			.navbar-toggle{
				background-color: rgba(0, 0, 0, 0.19);
				border: 1px solid rgba(0, 0, 0, 0.25);
				margin-top: 12px;
				.icon-bar{
					background: white;

				}
			}
			.navbar-nav{
				&__color{
					color:#D9534F;
				}
			}
		}
	}

}

#top{
    left: 280px;
    position: absolute;
    padding-bottom: 30px;
    top: 64px;
    @media screen and (max-width: $media-small) {
    	left: 0;
    	position: initial;
	}
}

#news,
#menu{
	ul{
			margin-right: 20px;
		}
	li{
		box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
		display: inline-block;
		margin-bottom: 10px;
		div{
			background: white;
			position: relative;

			a{
				img{
					max-width:100%;
					 @media screen and (max-width: $media-small) {
						height: auto;
					}
				}
				p{
					background: rgba(0, 0, 0, 0.8);
				    border-bottom: #000000 3px solid;
					bottom: 0;
					color: #ffffff;
				    font-family: 'Noto Sans Japanese', serif;
				    font-size: medium;
					left: 0;
				    margin: 0;
				    padding: 15px 10px 3%;
				    position: absolute;
				    width: 100%;
				}
			}
		}
	}
}

#menu{
	@media screen and (max-width: $media-small) {
		background-color: $bg-menu;
	}

		p{
			text-align: center;
		}
}

footer{
	bottom: 0;
    left: 0;
  	position: absolute;
  	right: 0;
  	text-align: center;
  	z-index: 9999;
	@media screen and (max-width: $media-small) {
		position: relative;
	}
}





